body {
    font-family: Garamond, Helvetica, "Times New Roman";
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/4317844.jpg");
}

h1 {
    font-family: Garamond, Helvetica, "Times New Roman";
    margin: 25px 0;
}

h2 {
    text-decoration: bold;
    font-size: 16px;
}

img {
    width: 45px;
}

li {
    margin: 6px 0;
    font-size: 16px;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}