body {
    font-family: Garamond, Helvetica, "Times New Roman";
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/4317844.jpg");
}

h1 {
    font-family: Garamond, Helvetica, "Times New Roman";
}

img {
    width: 45px;
}

li {
    margin: 5px 0;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}